<div class="app-content app-no-padding app-aside">
	<app-add-item (addItemEvent)="reloadItems($event)"></app-add-item>
	<div class="main-content container-fluid">
		<div class="app-aside-header">
			<div class="row">
				<div class="col-lg-6">
					<div class="app-aside-header-title">
						Shopping Busket
					</div>
				</div>
			</div>
		</div>
		<div class="row app-shopping-items">
			<div class="col-xl-6" *ngFor="let shop of shopsWithItems">
				<div class="app-shopping-item">
					<div class="app-shopping-item-desc">
						<div class="row app-shopping-item-shop-title">
							<div class="col-md-11">
								<h4 class="">{{shop.name}}</h4>
							</div>
							<div class="col-md-1">
								<a href="#" class="oi oi-loop-circular refresh"></a>
							</div>
						</div>
						
						<div *ngFor="let item of shop.items odd as isOdd; even as isEven"
								class="app-shopping-item-list row"
								[class.odd]="isOdd" 
								[class.even]="isEven">
							<div class="col-md-10">
								<h6>{{item.name}}</h6>
							</div>
							<div class="col-md-2">
								<a href="#" class="oi oi-task markDone"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>







<!-- <div class="row">
	<div class="col-md-8 order-md-1">
		<h4 class="mb-3">Item Details</h4>
		
		<form #shoppingItemForm="ngForm" class="col-md-5">
			

			
			
			
		</form>
	</div>
	<div class="col-md-4 order-md-2 mb-4">
		<h4 class="d-flex justify-content-between align-items-center mb-3">
        		<span class="text-muted">Shopping List</span>
            <span class="badge badge-secondary badge-pill">0</span>
    		</h4>
    		<ul class="list-group mb-3">
    			<li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let item of items">
            		<div>
                		<h6 class="my-0">{{item.name}}</h6>
              	</div>
              	<a href="javascript:void();" class="oi oi-circle-x text-danger deleteItem"></a>
            </li>
    		</ul>
	</div>
</div> -->