<aside class="page-aside">
	<div class="app-scroller ps-container ps-theme-default ps-active-y">
		<div class="aside-content">
			<div class="content">
				<div class="aside-header">
					<span class="title">Add Expense</span>
				</div>
			</div>
			<div class="aside-nav collapse">
				<form class="mat-form" [formGroup]="addExpenseForm" (ngSubmit)="addExpense(formDirective)" #formDirective="ngForm">
					<div class="content">
						<div class="form-group mb-3">
							<mat-form-field class="mat-full-width">
								<input matInput placeholder="Expense Description"
									id="description" name="description"
									formControlName="description"
									/>

								<mat-error *ngIf="addExpenseForm.controls.description.invalid">
									Description is <strong>required</strong>
								</mat-error>
							</mat-form-field>

							<mat-form-field class="mat-full-width">
								<input matInput [matDatepicker]="picker" placeholder="Choose Expense date"
									id="date" name="date"
									formControlName="date"
									/>
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>

								<mat-error *ngIf="addExpenseForm.controls.date.invalid">
									Date is <strong>required</strong>
								</mat-error>
							</mat-form-field>

							<mat-form-field class="mat-full-width">
								<mat-select placeholder="Expense Category" formControlName="category">
									<mat-option>-- None --</mat-option>
									<mat-optgroup *ngFor="let expenseCategory of expenseCategoriesArr"
													[label]="expenseCategory"
													>
										<mat-option 
											*ngFor="let expenseSubCategory of expenseCategoriesMap[expenseCategory]['children']"
											[value]="expenseSubCategory.id">
											{{expenseSubCategory.name}}
										</mat-option>
									</mat-optgroup>
								</mat-select>

								<mat-error *ngIf="addExpenseForm.controls.category.invalid">
									Select a Category
								</mat-error> 
							</mat-form-field>

							<mat-form-field>
								<mat-select placeholder="Account"
									id="account" name="account" formControlName="account"
									>
									<mat-option *ngFor="let account of accounts;" [value]="account.id">
										{{account.name}}
									</mat-option>
								</mat-select>

								<mat-error *ngIf="addExpenseForm.controls.account.invalid">
									Select an Account
								</mat-error>        
							</mat-form-field>

							<mat-form-field class="mat-full-width">
								<input matInput placeholder="Expense Amount"
									id="amount" name="amount" type="number"
									formControlName="amount"
									/>

								<mat-error *ngIf="addExpenseForm.controls.amount.invalid">
									Amount is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>

						<div class="form-group mb-3">
							<button mat-raised-button color="primary"
									[disabled]="addExpenseForm.invalid">Add Expense</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</aside>