<div class="app-left-sidebar">
  <div class="left-sidebar-wrapper">
    <div class="left-sidebar-spacer">
      <div class="left-sidebar-scroll">
        <div class="left-sidebar-content">
          <ul class="sidebar-elements">
            <li routerLinkActive="selected">
              <a href="/shopping-list"><i class="oi oi-home"></i><span>Dashboard</span></a>
            </li>
            <li routerLinkActive="selected">
              <a routerLink="/shopping-list"><i class="oi oi-cart"></i><span>Shopping Busket</span></a>
            </li>
            <li routerLinkActive="selected">
                <a routerLink="/expense-tracker"><i class="oi oi-dollar"></i><span>Expense Tracker</span></a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>